.App {
  text-align: center;
}

.App-logo {
  height: 150px;
  padding: 10px;
}

.App-header {
  background-color: #1D2041;
  height: 300px;
  padding: 40px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
.App-logo {
  margin-bottom: 10px;
}
.container {
  padding-bottom: 40px;
  font-size: large;
  max-width: 95% !important;
}
.page-content {
  width: 100%;
}
.content {
  padding-top: 40px;
}

.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.row {
  margin-top: 10px;
}

.textMultiline {
  width: 40em; word-wrap: break-word;
}

.MuiSvgIcon-root-10 {
    font-size: 40px!important;
}

form {
  text-align: left;
}

table {
  text-align: left;
  border-collapse: separate;
}

label {
  text-align: left;
  min-width: 170px !important;
  display: inline-block !important
}


input {
  min-width: 330px !important;
  display: inline-block !important
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
